.hero-cotainer{
    display: flex;
    align-items: center;
    background-image: url(../images/rasm_3.png);
}
.hero-list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero-item{
    display: flex;
}
.hero-img{
    width: 15px;
    height: 45px;
}
.hero-text{
    width: 356px;
    height: 22px;
    font-family: "Montserrat" ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;    
}
.hero-text-c{
    width: 356px;
    height: 22px;
    font-family: "Montserrat" ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;    
}
.hero-title{
    width: 805px;
    height: 195px;
    font-family: "Gilroy" ,sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    color: #000000;    
}
.hero-text-a{
    width: 200px;
    height: 66px;
    font-family: "Montserrat" ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;  
    color: #333333;  
}
.hero-text-b{
    width: 283px;
    height: 66px;
    font-family: "Montserrat" sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;   
    color: #333333;  
}
.hero-btn{
    border-radius: 20px;
    border: 1px solid rgb(127, 127, 222);
    padding: 15px 25px;
    background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
    color: #FFFFFF;
    font-family: Gill Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.47px;
    letter-spacing: 0.01em;
    text-align: left;   
}
.hero-btn:hover{
    transform: scale(0.97);
    transition: 2s;
}
