.home-container{
    margin-top: 100px;
    text-align: center;
}
.home-img{
    background-color: rgb(218, 208, 227);
    border-radius: 50%;
    width: 103px;
    height: 103px;
    margin-top: 50px;
}
.home-list{
    margin-top: 40px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}
.home-item{
    width: 350px;
}
.home-text{
    margin-top: 30px;
    margin-left: 20px;
    width: 289.17px;
    height: 46px;
    font-family: "Gilroy-Bold" ,sans-serif;
    font-size: 18.82px;
    font-weight: 400;
    line-height: 23.3px;
    text-align: center;    
}
.home-btn{
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid rgb(127, 127, 222);
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
    color: #FFFFFF;
    font-family: "Gill Sans" ,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.47px;
    letter-spacing: 0.01em;
    margin: 0 auto; 
}
.home-btn:hover{
    transform: scale(0.99);
    transition: 2s;
}
.home-input-a{
  width: 400px;
}
.home-input-b{
    width: 400px;
  }
.home-input-c{
    width: 400px;
}

































@media(max-width:1200px){
    .container{
        width: 1100px;
    }
    .home-text{
        width: 250px;
        height: 40px;
        font-size: 13px;
    }
    .home-item{
        width: 300px;
    }
    .home-btn{
      margin-left: 400px;
    }
  
  }
  @media(max-width:1120px){
  .container{
      width: 1000px;
  }
  .home-img{
    width: 90px;
    height: 90px;
  }.home-item{
    width: 250px;
  }
  .home-btn{
    margin-left: 350px;
  }
  
  }
  @media(max-width:1020px){
  .container{
      width: 900px;
  }
  .home-list{
    gap: 30px;
  }
  .home-item{
    width: 200px;
  }
  .home-btn{
    text-align: left;
    margin-left: 300px;
  }
  .home-img{
    margin-left: 100px;
  }
  .home-title{
    margin-right: 50px;
  }
  
  
  
  }
  @media(max-width:920px){
  .container{
      width: 800px;
  }  
  }
  @media(max-width:820px){
  .container{
      width: 700px;
  }
  .home-title{
    font-size: 20px;
    text-align: center;
  }
  .home-item{
    width: 250px;
  }
  .home-btn{
    margin-left: 200px;
  }
  
  
  
  }
  @media(max-width:720px){
  .container{
      width: 600px;
  }
 .home-item{
    width: 200px;
 }
 .home-text{
  font-size: 15px;
  width: 190px;
  margin-left: 60px;
 }  
  }
  
  @media(max-width:620px){
  .container{
      width: 500px;
  }
  .home-title{
    font-size: 25px;
    width: 500px;
  }
  .home-text{
    margin-left: 15px;
    font-size:14px;
    width: 200px;
    text-align: center;
  }
  .home-img{
    margin-left: 20px;
    width: 60px;
    height: 60px;
  }
  .home-list{
    gap: 50px;
    flex-wrap: wrap;
  }  
  }
  @media(max-width:520px){
  .container{
      width: 400px;
  }
  .home-container{
    justify-content: center;
  }
  .home-title{
    margin-left: -35px;
    font-size: 22px;
    width: 500px;
  }
  .home-text{
    margin-left: 65px;
    font-size:18px;
    width: 300px;
    text-align: center;
  }
  .home-img{
    margin-left: 150px;
    text-align: center;
    width: 120px;
    height: 120px;
  }
  .home-list{
    gap: 50px;
    flex-wrap: wrap;
  } 
  .home-btn{
    margin-left: 130px;
  }
  
  
  }
  @media(max-width:420px){
  .container{
      width: 300px;
  }
  .home-title{
    margin-left: -45px;
    font-size: 22px;
    width: 500px;
  }
  .home-text{
    margin-left: 50px;
    font-size:18px;
    width: 300px;
    text-align: center;
  }
  .home-img{
    margin-left: 140px;
    width: 120px;
    height: 120px;
  }
  .home-btn{
    margin-left: 130px;
  }
  .home-input-a{
    width: 200px;
  }
  .home-input-b{
      width: 200px;
    }
  .home-input-c{
      width: 200px;
  }
  }