.number-img{
    width: 250px;
    height: 300px;
    margin-left: 20px;
}
.number-title{
    margin: 0 auto;
    width: 794px;
    height: 88px;
    font-family: "Gilroy-Medium" ,sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.67px;
    text-align: center;
    color: #333333;    
}
.number-title-a{
    margin-top: 20px;
    text-align: center;
    width: 421px;
    height: 130px;
    font-family: "Gilroy-Medium" ,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.11px;   
}
.number-text{
    margin: 0 auto;
    width: 275px;
    height: 44px;
    font-family: "Gilroy" ,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;      
    color: #444444;
    margin-left: 70px;
}
.number-btn{
    margin-left: -20px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid rgb(127, 127, 222);
    padding: 25px 35px;
    background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
    color: #FFFFFF;
    font-family: "Gill Sans" ,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.47px;
    letter-spacing: 0.01em;
}
.number-btn:hover{
    transform: scale(0.97);
    transition: 2s;
}
.number-list{
    margin-top: 40px;
    text-align: center;
    display: flex;
}
.number-item-a{
    position: relative;
    z-index: 20;
    -webkit-box-shadow: 33px -1px 25px 2px #FFFF;
    -moz-box-shadow: 33px -1px 25px 2px #FFFF;
     box-shadow: 33px -1px 25px 2px #FFFF;
}































@media(max-width:1200px){
    .container{
        width: 1100px;
    }
   .number-marque{
    margin-top: 30px;
   }
  }
  @media(max-width:1120px){
  .container{
      width: 1000px;
  }
  .number-list{
    flex-wrap: wrap;
  }
  .number-item{
    width: 950px;
  }
  .number-item-a{
    margin: 0 auto;
  }
  
  }
  @media(max-width:1020px){
  .container{
      width: 900px;
  }
  .number-item{
    width: 850px;
  }
  
  
  
  
  }
  @media(max-width:920px){
  .container{
      width: 800px;
  }  .number-item{
    width: 750px;
  }
  
  }
  @media(max-width:820px){
  .container{
      width: 700px;
  }
  .number-item{
    width: 650px;
  }
  .number-title{
    font-size: 20px;
    width: 650px;
  }
  
  
  }
  @media(max-width:720px){
  .container{
      width: 600px;
  }
  .number-item{
    width: 550px;
  }
   .number-title{
    font-size: 20px;
    width: 550px;
  }
  
  
  
  }
  
  @media(max-width:620px){
  .container{
      width: 500px;
  }
  .number-item{
    width: 450px;
  }
  .number-title{
    font-size: 20px;
    width: 450px;
  }
  
  }
  @media(max-width:520px){
  .container{
      width: 400px;
  }
  .number-item{
    width: 350px;
  }
  .number-title-a{
      width: 350px;
      height: 150px;
  }
  .number-text{
    margin-left: 25px;
  }
  .number-title{
    font-size: 15px;
    width: 350px;
  }
  }
  @media(max-width:420px){
  .container{
      width: 300px;
  }
  .number-item{
    width: 250px;
  }
  .number-title{
    font-size: 10px;
    margin-left: 90px;
  }
  .number-title-a{
      width: 250px;
      height: 130px;
      font-size: 15px;
      margin-left: 90px;
  }
  .number-text{
    margin-left: 80px;
  }
  .number-title{
    font-size: 12px;
    width: 250px;
  }
  .number-btn{
    margin-left: 80px;
  }
  .number-marque{
    display: none;
  }
  }